/* Edit email buttons css */
.edit-button{
  visibility: visible;
}

.save-button{
  visibility: hidden; 
  margin-right: 5px !important; 
  margin-left: -90px !important;
}

.cancel-button{
  visibility: hidden;
}